form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        margin-bottom: 40px;
    }
    .form-for-login{        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
        .fullname{
            display: flex;
            gap: 20px;
            width: 100%;
            #name,
            #last-Name {
                width: 140px;
            }
        }
        .date-grade{
            display: flex;
            gap: 20px;
            width: 100%;
            #birth-date,
            #grade {
                width: 140px;
            }
            mat-datepicker-toggle,
            mat-datepicker{
                position: absolute;
                left: 40%;
            }
        }
        input{
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 300px;
            font-size: 16px;
        }
        mat-select {
            padding: 7px 12px;
            width: 300px;
            border-radius: 5px;
            border: 1px solid #ccc;  
            background-color: #FCFCFD;
        }
    }
}


.default-state {
    background-color: white;
}

.invalid-state {
    background-color: #ffeef0;
    
}

.valid-state {
    background-color: #F8FFF8;
}

@media (max-width: 678px){
    form{
        width: 100%;
        h1{
            font-size: 18px;
            margin: 20px 0px 15px 0px;
        }
        .form-for-login{        
            gap: 15px;
            margin-top: 20px;  
            .fullname,
            .date-grade{
                justify-content: center;
                gap: 15px;
                mat-datepicker-toggle,
                mat-datepicker{
                    left: 32%;
                    top: 122px;
                    width: 15%;
                }
                input{
                    padding: 6px;
                    width: 40% !important;
                    font-size: 12px;
                } 
            }
            #passWord,
            #mail,
            #confirm-password,
            mat-select{
                width: 86%;
                padding: 6px;
                font-size: 12px;
            }
        }
    }

}

@media screen and (max-width: 1023px) and (min-width: 679px) {
    form{
        width: 95%;
        h1{
            margin: 20px 0px 50px 0px;
        }
        input{
            padding: 10px;
            width: 90%;
            font-size: 18px;
        }
        .form-for-login{
            .date-grade{
                mat-datepicker-toggle,
                mat-datepicker{
                    left: 36%;
                    top: 200px;
                }
            }
        }
    }
}