header{
    display:flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 15px 0px 15px 15px;
    font-size: 20px;
    background-color: #f2f7f7;
    .header-left{
        margin-left: 2%;
        a{
            cursor: pointer;
            font-weight: bold;
            text-decoration: none;
            color: #424d64;
            padding: 10px 17px;
            border: 1px transparent solid;
                &:hover{
                color: rgb(26, 30, 39);
                transition: 0.3s;
                border-color: #d9e6e6;
            }
        }

        .log-out-btn{
            display: flex;
            align-items: center;
            gap: 5px;
            cursor: pointer;
            padding: 10px 17px;
            border-radius: 25px;
            background: linear-gradient(to right, #424d64 50%, rgb(68, 68, 255) 50%);
            background-size: 200% 100%;
            background-position: 0 0;
            color: white;
            text-decoration: none;
            transition: background-position 0.5s ease, bacground-color 0.5s ease;
            #dot{
                color: rgb(68, 68, 255);
                size: 200% 100%;
                position: 0 0;
                text-decoration: none;
                transition: position 0.5s ease, color 0.5s ease;
            }
            &:hover{
                background-position: -100% 0;
                background-color: rgb(68, 68, 255);
                #dot{
                    color: #424d64;
                    position: -100% 0;
                }
            }
        }
    }
    .header-right{
        display: flex;
        align-items: center;
        gap: 100px;
        a{
            display: flex;
            align-items: center;
            gap: 5px;
            cursor: pointer;
            padding: 10px 17px;
            border-radius: 25px;
            background: linear-gradient(to right, #424d64 50%, rgb(68, 68, 255) 50%);
            background-size: 200% 100%;
            background-position: 0 0;
            color: white;
            text-decoration: none;
            transition: background-position 0.5s ease, bacground-color 0.5s ease;
            #dot{
                color: rgb(68, 68, 255);
                size: 200% 100%;
                position: 0 0;
                text-decoration: none;
                transition: position 0.5s ease, color 0.5s ease;
            }
            &:hover{
                background-position: -100% 0;
                background-color: rgb(68, 68, 255);
                #dot{
                    color: #424d64;
                    position: -100% 0;
                }
            }
        }
        #clock{
            cursor: default;
            color: white;
            padding: 10px 17px;
            background-color: #424d64;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
        }
    }
}


@media screen and ( max-width: 768px ) {
    header{
        padding: 10px 0px 10px 10px;
        width: 100%;
        align-items: center;
        .header-left{
            margin-left: 0px;
            a{
                padding: 8px 12px;
                font-size: 12px;
            }
        }
        .header-right{
            gap: 15px;
            a{
                padding: 6px 12px;
                font-size: 10px;
                #dot{
                    display: none;
                }
            }
            #clock{
                padding: 6px 12px;
                font-size: 10px;
            }
        }
    }
}

@media screen and ( min-width: 769px ) and ( max-width: 1024px ) {
    header{
        padding: 10px 0px 10px 10px;
        width: 100%;
        align-items: center;
        .header-left{
            margin-left: 0px;
            a{
                padding: 8px 12px;
                font-size: 14px;
            }
        }
        .header-right{
            gap: 30px;
            a{
                padding: 8px 12px;
                font-size: 14px;
                #dot{
                    display: none;
                }
            }
            #clock{
                padding: 8px 12px;
                font-size: 14px;
            }
        }
    }

}
