footer{
    width: 100%;
    background-color: #424d64;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    .leftside{
        p{
            color: #c7c7c7;
        }
    }
    .center{
        ul{
            cursor: pointer;
            li{
                list-style: none;
                margin-bottom: 10px;
                a{
                    color: #c7c7c7;
                    &:hover{
                        color: black;
                    }
                }
            }
        }
    }
    .rightside{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: #c7c7c7;
        #email{                
            color: #c7c7c7;
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        width: 100%;

        .leftside {
            margin-bottom: 20px; 
            p {
                font-size: 12px !important; 
            }
        }

        .center {
            margin-bottom: 20px; 
            ul {
                padding: 0px;
                li {
                    margin-bottom: 5px; 
                    font-size: 12px !important; 
                }
            }
        }

        .rightside {
            align-items: center;
            justify-content: center;
            a {
                font-size: 12px !important; 
            }
            p {
                font-size: 12px !important;
            }
        }
    }   
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    
    footer {
        padding: 20px;
        width: 100%;

        .leftside {
            margin-bottom: 20px; 
            p {
                font-size: 14px !important; 
            }
        }

        .center {
            margin-bottom: 20px; 
            ul {
                padding: 0px;
                li {
                    margin-bottom: 5px; 
                    font-size: 14px !important; 
                }
            }
        }

        .rightside {
            align-items: center;
            justify-content: center;
            a {
                font-size: 14px !important; 
            }
            p {
                font-size: 14px !important;
            }
        }
    }    
}