.log-in-register{
    display: flex;
    justify-content: center;
    img{
        width: 100%;
        height: 90vh;
        position: relative;
    }
    .log-in-register-container{
        width: 60%;
        top: 50%;
        display: flex;
        justify-content: space-around;
        position: absolute;
        a{
            width: 22%;
            background-color: rgba(255, 255, 255, 0.204);
            border-radius: 60px;
            text-align: center;
            padding: 30px 0px;
            font-weight: bold;
            color: white;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
            text-decoration: none;
            &:hover{
                color: #424d64;
                background-color: #dbdddf;
                box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
                transition: all 0.3s ease-in-out;
            }
        }
    }
}

@media (max-width: 768px) {
    .log-in-register{
        img{
            height: 70vh;
            width: 100%;
        }
        .log-in-register-container{
            width: 100%;
            top: 25%;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            a{
                width: 30%;
                padding: 20px 0px;
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .log-in-register{
        img{
            height: 80vh;
            width: 100%;
        }
        .log-in-register-container{
            width: 80%;
            top: 35%;
            a{
                width: 20%;
                padding: 25px 0px;
                font-size: 14px;
            }
        }
    }
}
