form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  h1{
    margin-bottom: 20px;
  }
  input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    font-size: 16px;
    margin-bottom: 20px;
  }
}



.default-state {
  background-color: white;
}

.invalid-state {
  background-color:  #ffeef0;
}

.valid-state {
  background-color: white;
}

@media (max-width: 678px){
  form{
    width: 100%;
    h1{
      font-size: 20px;
      margin-bottom: 10px;
    }
    input{
      width: 100%;
      margin-bottom: 10px;
      padding: 8px;
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 1023px) and (min-width: 679px){
  form{
    width: 100%;
    h1{
      font-size: 24px;
      margin-bottom: 10px;
    }
    input{
      width: 85%;
      margin-bottom: 10px;
      font-size: 14px;
    }
  }
}
