.log-in{
    width: 100%;
    display: flex;
    justify-content: center;
    img{
        width: 100%;
        position: relative;
    }
    .log-in-container{
        position: absolute;
        border: 1px solid grey;
        border-width: 0px 0px 1px 0px;
        box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.1);
        background-color: rgba(220, 223, 224, 0.293);
        border-radius: 5px;
        width: auto;
        height: auto;
        top: 200px;
        padding: 50px 100px;
        .log-in-form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .buttons{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                gap: 20px;
                margin: 20px 0px 0px 0px;
                #log-in-button,
                #register-button{
                    width: 70%;
                }
                button{
                    padding: 10px 20px;
                    border: none;
                    border-radius: 5px;
                    background-color: #007bff;
                    color: white;
                    font-size: 16px;
                    cursor: pointer;
                    &:hover{
                        background-color: #0056b3;
                    }
                }
            }
            #go-back{
                position: absolute;
                top: 45px;
                left: 40px;
                padding: 10px 18px;
                border-style: none;
                border-radius: 25px;
                font-size: 20px;
                cursor: pointer;
                background-color: transparent;
                &:hover{
                    color: white;
                    background-color: black;
                    transition: 0.3s;
                }
            }
        }
    }
}

@media (max-width: 678px){
    .log-in{
        img{
            min-height: 70vh;
        }
        .log-in-container{
            width: 70%;
            height: auto;
            top: 100px;
            padding: 10px 0px 30px 0px;
            .log-in-form{
                .buttons{
                    justify-content: space-between;
                    gap: 0px;
                    width: 160px;
                    margin-right: 8px;
                    #log-in-button,
                    #register-button,
                    #submit-button{
                        width: auto;
                        padding: 8px 12px;
                        font-size: 10px;
                    }
                }
                #go-back{
                    top: 18px;
                    left: 10px;
                    padding: 10px 18px;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) and (min-width: 679px) {
    .log-in{
        img{
            min-height: 100vh;
        }
        .log-in-container{
            width: 50%;
            height: auto;
            top: 150px;
            padding: 30px 0px;
            .log-in-form{
                .buttons{
                    justify-content: center;
                    width: 100%;
                    gap: 40px;
                    #log-in-button,
                    #register-button,
                    #submit-button{
                        width: 25%;
                        padding: 8px 12px;
                        font-size: 16px;
                    }
                }
                #go-back{
                    top: 40px;
                    left: 40px;
                    padding: 10px 18px;
                }
            }
        }
    }
}
